**/*.pyc
**/*.pyd
**/*.pyo
**~
.vscode
config.json
workspace
ssh
testrunner.py
asp.egg-info
.coverage
htmlcov
.mypy_cache
test-reports
/build
dist
junitreports
**env.list*
.vim
.pytest_cache
coa_ado_project_manager.egg-info
.idea
**/.DS_Store
inspec_output.xml
.kitchen
**/*.lcov
